@model DataBase.Models.Partner
 
<h2>Редактирование пользователя</h2>
<form asp-action="edit" asp-controller="Partners" asp-route-id="@Model.Id">
    <p>
            <label asp-for="FullName">Полное Имя</label><br />
            <input type="text" asp-for="FullName" />
        </p>
        <p>
            <label asp-for="ShortName">Краткое Имя</label><br />
            <input type="text" asp-for="ShortName" />
        </p>
        <p>
            <label asp-for="Address">Адрес</label><br />
            <input type="text" asp-for="Address" />
        </p>
        <p>
            <label asp-for="Site">Сайт</label><br />
            <input type="text" asp-for="Site" />
        </p>
        <p>
            <label asp-for="ContactData">Контактные данные</label><br />
            <input type="text" asp-for="ContactData" />
        </p>
        <p>
            <label asp-for="City">Город</label><br />
            <input type="text" asp-for="City" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>