

@model IEnumerable<Diploma.Models.Partner>
 @{
     Layout = "_Layout";
 }
<h2>Список пользователей</h2>
<p><a asp-action="Create">Добавить пользователя</a></p>
<table class="table">
    <tr><th>Имя</th><th>Возраст</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ShortName</td>
            <td>@item.City</td><td>
                <a asp-action="Edit" asp-controller="Partners" asp-route-id="@item.Id">Изменить</a>
                                           </td>
                                           <td>
                                               <form asp-controller="Partners" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                                                   <input type="submit" value="Удалить" />
                                               </form>
                                           </td>
        </tr>
    }
</table>
