@using Model.Divisions
@using Services

@inject IDivisionsService api
@page "/divisions/create"

<Form Item=@division OnSubmit=@OnValidSubmit></Form>

@code {
    private Division division = new();
    private Task OnValidSubmit() => api.Create(division);
}
