@using Model.Divisions
@using Client.Services
@using Client.Services.Api
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Cip")]
@inject IDivisionsService DivisionsService

@page "/divisions/{id:int}/edit"

<PageTitle>Редактирование данных подразделения</PageTitle>
<Form Item=division OnSubmit=@OnValidSubmit></Form>

@code {
    [Parameter] public int Id { get; set; }
    private Division division = new();

    protected override async Task OnParametersSetAsync()
    {
        division = await DivisionsService.ReadOne(Id);
    }

    private Task OnValidSubmit() => DivisionsService.Update(Id, division);
}
