@using Client.Services
@using Client.Services.Api
@using Microsoft.AspNetCore.Components.Forms;
@using Client.Shared.Text
@using Client.Shared.Select
@using Client.Shared.Form
@using Microsoft.AspNetCore.Authorization
@using Model.Divisions
@using Model
@attribute [Authorize(Roles = "Ctt")]
@inherits BaseForm<Division>

@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment Content =>
        @<div>
            <InputWithFloatTitle Title="Краткое название" @bind-Value=@Item.ShortName/>
            <ValidationMessage For=@(() => Item.ShortName)/>
            <InputWithFloatTitle Title="Полное название" @bind-Value=@Item.FullName/>
            <ValidationMessage For=@(() => Item.FullName)/>
            <InputWithFloatTitle Title="Сайт" @bind-Value=@Item.Site/>
            <ValidationMessage For=@(() => Item.Site)/>
            <div>
                <p>Контактные данные</p>
                <InputTextArea @bind-Value=@Item.Contacts/>
                <ValidationMessage For=@( () => Item.Contacts)/>
            </div>
            <UniversalCustomSelect
                TItem=@Faculty                @bind-SelectedItem=@Item.Faculty
                GetStringIdentifier=@(faculty => faculty.Id.ToString())/>
            <ValidationMessage For=@(() => Item.Faculty)/>
            <UniversalMultipleSelect TApi=@IDirectionsService TItem=@Direction Selected=@Item.Directions/>
            <ValidationMessage For=@(() => Item.Directions)/>
    </div>;

}