@using Client.Shared.List;
@using SharedModel

@inherits SearchableStyledList<DivisionShort>

@page "/divisions"

<PageTitle>Подразделения</PageTitle>
@{
    base.BuildRenderTree(__builder);
}

@* <SearchableStyledList ListDelegate=@this /> *@
@code {
    protected override RenderFragment Filters => @<div></div>;
}