@using Microsoft.AspNetCore.Components.Forms
@using Model
@typeparam T where T:ISelectionWithTextElement

<div class="multiple-selector">
    <ul class="selectable">
        @foreach (var item in NoSelected)
        {
            <li>
                <label>@item.NonInputDescription</label>
                <InputText @bind-Value=@item.Text>Контактные данные</InputText>
                <button disabled=@item.CanSelect @onclick=@(() => Select(item))>Выбрать</button>
            </li>
        }
    </ul>
    
    <div class="multiple-selector-buttons">
        <button type="button" @onclick=@DeselectAll>@RemoveAllText</button>
    </div>
    
    <ul class="selectable">
        @foreach (var item in Selected)
        {
            <li @onclick=@(() => Deselect(item))> @item </li>
        }
    </ul>
</div>
@code {
    private const string RemoveAllText = "<<";
    [Parameter] public List<T> NoSelected { get; set; } = [];
    [Parameter] public List<T> Selected { get; set; } = [];

    private void Select(T item)
    {
        if (item.CanSelect) return;

        NoSelected.Remove(item);
        Selected.Add(item);
    }

    private void Deselect(T item)
    {
        item.Reset();
        Selected.Remove(item);
        NoSelected.Add(item);
    }

    private void DeselectAll()
    {
        NoSelected.AddRange(Selected);
        Selected.Clear();
    }
}