@rendermode RenderMode.InteractiveWebAssembly
@attribute [Authorize(Roles = "Ctt")]
@page "/partners/create"
@using Client.Services.Api
@using Microsoft.AspNetCore.Authorization
@using Model.Partners
@inject IPartnersService PartnersService

<PageTitle>Добавление партнера</PageTitle>
<Form Item="@partner" OnSubmit="@CreatePartner"></Form>

@code {
    private readonly Partner partner = new();

    private Task CreatePartner()
    {
        return PartnersService.Create(partner);
    }

}