@using DataBase.Models;
@using Client.Services;
@rendermode RenderMode.InteractiveWebAssembly
@page "/partners/create"
@inject IPartnersService PartnersService

<p>Создание</p>
<Form Partner=@partner OnSubmit="@CreatePartner" />

@* <Form Partner=@partner OnSubmit="@CreatePartner"/> *@

@code {
    private Partner partner = new()
        {
            Directions = new List<Direction>()
        };

    private async Task CreatePartner()
    {
        await PartnersService.Create(partner);
    }
}
