@using DataBase.Models;
@using Client.Services;
@rendermode RenderMode.InteractiveWebAssembly
@page "/partners/create"
@inject IPartnersService PartnersService

<p>Создание</p>
<Form Item=@partner OnSubmit=@CreatePartner/>

@* <Form Partner=@partner OnSubmit="@CreatePartner"/> *@

@code {
    private Partner partner = new();

    private Task CreatePartner() => PartnersService.Create(partner);
}
