@using Client.Services;
@using Model.Partners
@rendermode RenderMode.InteractiveWebAssembly

@page "/partners/create"
@inject IPartnersService PartnersService

<p>Создание</p>
<PageTitle>Добавление партнера</PageTitle>
<Form Item=@partner OnSubmit=@CreatePartner/>

@code {
    private Partner partner = new();

    private Task CreatePartner() => PartnersService.Create(partner);
}
