@using DataBase.Models
@using Client.Services;
@using Client.Shared;

@page "/partners/{id:int}"

<div>
    <NavLink class="oval-button blue-fill" href="partners">
        Назад
    </NavLink>

    @if (partner != null)
    {
        <div>
            <h3>@partner.ShortName</h3>
            <h4>@partner.FullName</h4>

            @if (partner.PartnerType != null)
            {
                <TextWithTitle Title="Тип партнера" Text=@partner.PartnerType.ToString() />
            }

            @if (partner.ContactData != null)
            {
                <TextWithTitle Title="Контактные данные" Text=@partner.ContactData />
            }

            @if (partner.Address != null)
            {
                <TextWithTitle Title="Адрес" Text=@partner.Address />
            }

            @if (partner.City != null)
            {
                <TextWithTitle Title="Город" Text=@partner.City />
            }

            @if (partner.Site != null)
            {
                <TextWithTitle Title="Сайт" Text=@partner.Site />
            }

            <div>
                <p>Направления</p>
                @foreach (var direction in partner.Directions)
                {
                    <p>@direction.Name</p>
                }
            </div>

            <div>
                <NavLink class="oval-button blue-outline" href=@($"partners/{Id}/edit")>
                    Редактировать
                </NavLink>
            </div>
        </div>
    }
    else
    {
        <p>Загрузка...</p>
    }

</div>



@code {
    [Inject]
    private IPartnersService PartnersService { get; set; } = default!;
    [Parameter]
    public int Id { get; set; }

    private Partner? partner;

    // private string PartnerTypeName => partner?.PartnerType?.Name ?? "Тип партнера отсутствует";
    // private string ContactData => partner?.ContactData ?? "Контактные данные отсутствуют";
    // private string Address => partner?.Address ?? "Адрес отсутствует";

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            Console.WriteLine($"{Id}");
            partner = await PartnersService.GetPartnerById(Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}
