@using Client.Services
@using Client.Shared.Text
@using Client.Shared.List
@using Client.Shared
@using Model.Agreements
@using Model.Interactions
@using Partner = Model.Partners.Partner

@inherits DetailPage<Partner>

@page "/partners/{id:int}"

@* <div> *@
@*     @if (item != null) *@
@*     { *@
@*         <PageTitle></PageTitle>    *@
@*         <div style="justify-content: space-between"> *@
@*             <button class="oval-button blue-fill" style="display: inline-block" onclick="history.back()">Назад</button> *@
@*             <NavLink class="oval-button blue-outline" style="display: inline-block" href=@($"partners/{Id}/edit")> *@
@*                 Редактировать *@
@*             </NavLink> *@
@*         </div> *@
@*          *@
@*     } *@
@*     else *@
@*     { *@
@*         <p>Загрузка...</p> *@
@*     } *@
@* *@
@* </div> *@

@{
    base.BuildRenderTree(__builder);
}

@code {
    [Inject]
    private IPartnersService PartnersService { get; set; } = default!;
    private List<AgreementShort> agreements = [];
    private List<InteractionShort> interactions = [];

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            Console.WriteLine($"{Id}");
            agreements = await PartnersService.ReadAllAgreements(Id);
            interactions = await PartnersService.ReadAllInteractions(Id);
            await base.OnParametersSetAsync();
        }
        catch (Exception ex)
        {
            //TODO Обработка исключений
            Console.WriteLine(ex);
        }

    }
    
    protected override RenderFragment Content => @<div>
        <h3>@item?.ShortName</h3>
        <h4>@item?.FullName</h4>

        <TextWithTitle Title="Тип партнера" Text=@item?.Type?.ToString() />
        <TextWithTitle Title="Контактные данные" Text=@item?.ContactData />
        <TextWithTitle Title="Адрес" Text=@item?.Address />
        <TextWithTitle Title="Город" Text=@item?.City />
        <TextWithTitle Title="Сайт" Text=@item?.Site />
        <ListWithTitle Title="Направления" Items=@item?.Directions/>
        <ListWithTitle Title="Соглашения" Items=@item?.Agreements/>
        <ListWithTitle Title="Взаимодействия" Items=@item?.Interactions/>
    </div>;

    protected override bool CanDelete => !agreements.Any() && !interactions.Any();
    protected override string EntitiesPath => "partners";
    protected override string? Title => item?.ShortName;
    protected override Task<Partner> LoadItem()  => PartnersService.ReadOne(Id);

}
