@using DataBase.Models
@using Client.Services;
@using Client.Shared.Text;
@using Client.Shared.List;
@using Client.Shared.Buttons
@using SharedModel

@page "/partners/{id:int}"

<div>
    <div>
        <button class="oval-button blue-fill" onclick="history.back()">Назад</button>
        <NavLink class="oval-button blue-outline" style="display: inline-block" href=@($"partners/{Id}/edit")>
            Редактировать
        </NavLink>
    </div>

    @if (partner != null)
    {
        <div>
            <h3>@partner.ShortName</h3>
            <h4>@partner.FullName</h4>

            <TextWithTitle Title="Тип партнера" Text=@partner.PartnerType?.ToString() />
            <TextWithTitle Title="Контактные данные" Text=@partner.ContactData />
            <TextWithTitle Title="Адрес" Text=@partner.Address />
            <TextWithTitle Title="Город" Text=@partner.City />
            <TextWithTitle Title="Сайт" Text=@partner.Site />
            <ListWithTitle Title="Направления" Items=@partner.Directions/>
            <ListWithTitle Title="Соглашения" Items=@agreements/>
            <ListWithTitle Title="Взаимодействия" Items=@interactions/>
        </div>
    }
    else
    {
        <p>Загрузка...</p>
    }

</div>



@code {
    [Inject]
    private IPartnersService PartnersService { get; set; } = default!;
    [Parameter]
    public int Id { get; set; }

    private Partner? partner;
    private List<AgreementShort> agreements = [];
    private List<InteractionShort> interactions = [];

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            Console.WriteLine($"{Id}");
            partner = await PartnersService.ReadOne(Id);
            agreements = await PartnersService.ReadAllAgreements(Id);
            interactions = await PartnersService.ReadAllInteractions(Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}
