@page "/partners/{id:int}/edit"
@attribute [Authorize(Roles = "Ctt")]
@using Client.Services;
@using Client.Services.Api
@using Microsoft.AspNetCore.Authorization
@using Model.Partners
<div>
    @if (partner is not null)
    {
        <PageTitle>@partner.ShortName</PageTitle>
        <Form Item=@partner OnSubmit=@UpdatePartner></Form>
    }
</div>

@code {
    [Inject] private IPartnersService PartnersService { get; set; } = default!;
    [Parameter] public int Id { get; set; }
    private Partner? partner;

    protected override async Task OnParametersSetAsync()
    {
        partner = await PartnersService.ReadOne(Id);
    }

    private async Task UpdatePartner()
    {
        if (partner is null) return;
        await PartnersService.Update(Id, partner);
    }
}
