@page "/partners/{id:int}/edit"
@using Client.Services;
@using DataBase.Models;

<div>
    @* <NavLink class="oval-button orange-fill" href=@PreviousScreenUri>Отмена</NavLink> *@
    @if (partner is not null)
    {
        <Form Partner="@partner" OnSubmit="@UpdatePartner" />
    }
</div>

@code {
    [Inject] private IPartnersService PartnersService { get; set; } = default!;
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    [Parameter] public int Id { get; set; }
    private Partner? partner;

    private string PreviousScreenUri => $"/partners/{Id}";

    protected override async Task OnParametersSetAsync()
    {
        partner = await PartnersService.ReadOne(Id);
    }

    private async Task UpdatePartner()
    {
        if (partner is null) return;
        await PartnersService.Update(Id, partner);
        GoToPreviousScreen();
    }

    private void GoToPreviousScreen()
    {
        NavigationManager.NavigateTo(PreviousScreenUri);
    }
}
