@using Microsoft.AspNetCore.Components.Forms;
@* @using Microsoft.AspNetCore.Components.Web; *@
@using Client.Shared.Text;
@using Client.Shared.Select;
@using Client.Shared.Form
@using Model.Partners
@using Type = Model.Partners.Type

@inherits BaseForm<Partner>

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment Content =>
        @<div>
            <DataAnnotationsValidator/>
            <InputWithFloatTitle Title="Краткое название" @bind-Value=@Item.ShortName/>
            <ValidationMessage For="@(() => Item.ShortName)"/>
            <InputWithFloatTitle Title="Полное название" @bind-Value=@Item.FullName/>
            <ValidationMessage For="() => Item.FullName"/>
            <InputWithFloatTitle Title="Адрес" @bind-Value=@Item.Address/>
            <ValidationMessage For="() => Item.Address"/>
            <div>
                <p>Контактные данные</p>
                <InputTextArea @bind-Value=@Item.ContactData/>
                <ValidationMessage For="() => Item.ContactData"/>
            </div>
            <InputWithFloatTitle Title="Город" @bind-Value=@Item.City/>
            <ValidationMessage For="() => Item.City"/>
            <div>
                <UniversalCustomSelect TItem=@Type @bind-SelectedItem=@Item.Type GetStringIdentifier=@(type => type.Id.ToString())/>
                <ValidationMessage For="() => Item.Type"/>
            </div>
            <UniversalMultipleSelect Selected=@Item.Directions/>
            <ValidationMessage For="() => Item.Directions"/>
    <div>
        <input class="oval-button orange-fill" type="button" onclick="history.back()" value="Отмена"/>
        <input class="oval-button blue-fill" type="submit" value="Сохранить"/>
    </div>
    </div>;
}