@using Client.Services
@using Microsoft.AspNetCore.Components.Forms;
@using Client.Shared.Text;
@using Client.Shared.Select;
@using Client.Shared.Form
@using Model
@using Model.Partners
@using Type = Model.Partners.PartnerType

@inherits BaseForm<Partner>

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment Content =>
        @<div>
            <DataAnnotationsValidator/>
            <InputWithFloatTitle Title="Краткое название" @bind-Value=@Item.ShortName/>
            <ValidationMessage For="@(() => Item.ShortName)"/>
            <InputWithFloatTitle Title="Полное название" @bind-Value=@Item.FullName/>
            <ValidationMessage For="() => Item.FullName"/>
            <InputWithFloatTitle Title="Адрес" @bind-Value=@Item.Address/>
            <ValidationMessage For="() => Item.Address"/>
            <div>
                <p>Контактные данные</p>
                <InputTextArea @bind-Value=@Item.ContactData/>
                <ValidationMessage For="() => Item.ContactData"/>
            </div>
            <InputWithFloatTitle Title="Город" @bind-Value=@Item.City/>
            <ValidationMessage For="() => Item.City"/>
            <div>
                <UniversalCustomSelect TItem=@Type @bind-SelectedItem=@Item.Type GetStringIdentifier=@(type => type.Id.ToString())/>
                <ValidationMessage For="() => Item.Type"/>
            </div>
            <UniversalMultipleSelect TApi=@IDirectionsService TItem=@Direction Selected=@Item.Directions/>
            <ValidationMessage For="() => Item.Directions"/>
    </div>;
}