@using Microsoft.AspNetCore.Components.Forms;
@using Client.Shared;
@using SharedModel;

@page "/partners"

<PageTitle>Патнеры университета</PageTitle>
<div>
    <div>
        <InputText @bind-Value=@ShortNameInput />
        <button style="display:inline-block" onclick=@SetFilterField>Поиск</button>
        <button style="display:inline-block" onclick=@ClearFilterField>Очистить</button>
    </div>
    <div>
        <NavLink class="oval-button blue-fill" href="partners/create">
            Добавить
        </NavLink>
    </div>
    @if (Partners is not null)
    {
        @PartnersList
    }
    else
    {
        @NullPartners
    }

</div>

@code {
    private RenderFragment NullPartners => @<div>@message</div>;

    private RenderFragment PartnersList => @<BaseList List=@ShowedPartners>
        <RowFragment Context="partner">
            @PartnerLink(partner)
        </RowFragment>
    </BaseList>;

    private RenderFragment PartnerLink(PartnerForList partner) => @<NavLink href="@($"partners/{partner.id}")">@partner.name</NavLink>;
}