@using Microsoft.AspNetCore.Components.Web;
@using System.Net.Http.Json;
@using DataBase.Models;
@using Client.Services;
@using SharedModel;
@using Client.Shared;

@page "/partners"

@inject IPartnersService PartnersService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<PageTitle>Патнеры университета</PageTitle>
<div>
    @if (Partners is not null)
    {
        <BaseList List=@Partners>
            <RowFragment Context="partner">
                <NavLink href="@($"partners/{partner.id}")">
                    @partner.name
                </NavLink>
            </RowFragment>
        </BaseList>
    }
    else
    {
        <div>
            @message
        </div>
    }
    <div>
        <NavLink href="partners/create">
            Добавить
        </NavLink>
    </div>
</div>
