@page "/logout"
@using Client.Services.Authorization
<h3>Logout</h3>

@code {
    [Inject] IAuthenticationService AuthenticationService { get; set; } = default!;
    [Inject] NavigationManager NavigationManager { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.Logout();
        NavigationManager.NavigateTo("/");
    }

}