@using Client.Services
@using Model.Interactions
@using Client.Shared
@inherits DetailPage<Interaction>
@page "/interactions/{id:int}"

@{
    base.BuildRenderTree(__builder);
}

@code {
    [Parameter] public int Id { get; set; }
    [Inject] private IInteractionsService InteractionsService { get; set; } = null!;
    private Interaction? interaction;

    protected override async Task OnParametersSetAsync()
    {
        interaction = await InteractionsService.ReadOne(Id);
    }

    protected override RenderFragment Content => @<div></div>;
    protected override string? Title => interaction?.ToString();
    protected override string EntitiesPath => "interactions";
    protected override bool CanDelete => true;
}