@using Client.Shared.Form
@using Client.Shared.Text
@using Client.Shared.Select
@using Microsoft.AspNetCore.Components.Forms;
@using Model
@using Model.Divisions
@using Model.Interactions
@using PartnerShort = Model.Partners.PartnerShort

@inherits BaseForm<Interaction>

@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment Content =>
        @<div>
            <UniversalMultipleSelect TItem=@Direction Selected=@Item.Directions/>
            <InputWithFloatTitle Title="Код" @bind-Value=@Item.ContactCode/>
            <InputWithFloatTitle Title="Тема" @bind-Value=@Item.Theme/>
            <UniversalCustomSelect
                TItem=@PartnerShort                @bind-SelectedItem=@Item.Partner
                GetStringIdentifier=@(partner => partner.Id.ToString())/>
            <UniversalCustomSelect
                TItem=@DivisionShort                @bind-SelectedItem=@Item.Division
                GetStringIdentifier=@(division => division.Id.ToString())/>
            <UniversalCustomSelect
                TItem=@Model.Interactions.Type                @bind-SelectedItem=@Item.Type
                GetStringIdentifier=@(type => type.Id.ToString())/>
            <InputDate @bind-Value=@Item.Begin>Начало</InputDate>
            <InputDate @bind-Value=@Item.End>Конец</InputDate>
            <InputDate @bind-Value=@Item.SigningDate>Дата подписания</InputDate>
    </div>;

}