@using Client.Services
@using Client.Shared.Form
@using Client.Shared.Text
@using Client.Shared.Select
@using Microsoft.AspNetCore.Components.Forms;
@using Model
@using Model.Divisions
@using Model.Interactions
@using PartnerShort = Model.Partners.PartnerShort

@inherits BaseForm<Interaction>

@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment Content =>
        @<div>
            <UniversalMultipleSelect TApi=@IDirectionsService TItem=@Direction Selected=@Item.Directions/>
            <ValidationMessage For=@(() => Item.Directions)/>
            <InputWithFloatTitle Title="Код" @bind-Value=@Item.ContactCode/>
            <ValidationMessage For=@(() => Item.ContactCode)/>
            <InputWithFloatTitle Title="Тема" @bind-Value=@Item.Theme/>

            <ValidationMessage For=@(() => Item.Theme)/>
            <UniversalCustomSelect
                TItem=@PartnerShort
                @bind-SelectedItem=@Item.Partner
                GetStringIdentifier=@(partner => partner.Id.ToString())/>
            <ValidationMessage For=@(() => Item.Partner)/>
            <UniversalCustomSelect
                TItem=@DivisionShort
                @bind-SelectedItem=@Item.Division
                GetStringIdentifier=@(division => division.Id.ToString())/>

            <ValidationMessage For=@(() => Item.Division)/>
            <UniversalCustomSelect
                TItem=@Model.Interactions.Type
                @bind-SelectedItem=@Item.Type
                GetStringIdentifier=@(type => type.Id.ToString())/>

            <ValidationMessage For=@(() => Item.Type)/>
            <InputDate @bind-Value=@Item.Begin>Начало</InputDate>

            <ValidationMessage For=@(() => Item.Begin)/>
            <InputDate @bind-Value=@Item.End>Конец</InputDate>

            <ValidationMessage For=@(() => Item.End)/>
            <InputDate @bind-Value=@Item.SigningDate>Дата подписания</InputDate>
            <ValidationMessage For=@(() => Item.SigningDate)/>
            <ValidationMessage For=@(() => Item.SigningDate)/>
    </div>;

}