@attribute [Authorize(Roles = "Cip")]
@using Client.Services.Api
@using Microsoft.AspNetCore.Authorization
@using Model.Interactions
@inherits Client.Shared.List.SearchableStyledList<InteractionShort>

@page "/interactions"

@{
    base.BuildRenderTree(__builder);
}

@code {
    [Inject] private IInteractionsService InteractionService { get; set; } = null!;

    protected override Task<List<InteractionShort>> Load(string? text, int? skip, int? take)
    {
        return InteractionService.ReadAll(text, skip: skip, take: take);
    }

    protected override string CreateHref => "/interactions/create";
    protected override string CreateText => "Добавить взаимодействие";

    protected override string RowHref(InteractionShort item)
    {
        return $"/interactions/{item.Id}";
    }

    protected override RenderFragment Filters => @<div></div>;

    protected override void ClearFilterFields()
    {

    }
}