@typeparam TItem
<RadzenRow>
    @if (Items.Any())
    {
        <RadzenColumn>
            <RadzenText Style="color:darkgray;" Text=@Title/>
        </RadzenColumn>
        <RadzenColumn>
            <ul>
                @foreach (var item in Items)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </RadzenColumn>
    }
</RadzenRow>

@code {
    [Parameter] public string? Title { get; set; } = string.Empty;
    [Parameter] public IEnumerable<TItem> Items { get; set; } = [];
}