@using Client.Shared.Text;
@typeparam TItem

@Body

@code {
    protected RenderFragment Body =>@<div class="list"><RadzenCard>
        <RadzenStack Orientation=@Orientation.Horizontal AlignItems=@AlignItems.Center>
            @Filters
            @Search
        </RadzenStack>
        @LinkToCreate
        @List
    </RadzenCard>
    </div>
;

    private RenderFragment LinkToCreate =>@<NavLink class="oval-button blue-fill" href=@CreateHref>
        Добавить
    </NavLink>;

    private RenderFragment List => @<RadzenDataList WrapItems=false 
                                                    AllowVirtualization=false 
                                                    TItem=@TItem 
                                                    Data=@items 
                                                    IsLoading=@isLoading 
                                                    Count=@items.Count 
                                                    PageSize="5" 
                                                    LoadData=@LoadItems 
                                                    Style="padding:0">
                                       <Template>
                                           @Row(context)
                                       </Template>
                                       <EmptyTemplate>
                                           Список пуст
                                       </EmptyTemplate>
    </RadzenDataList>
    ;
    private RenderFragment Row(TItem item) => @<NavLink style="text-decoration:none;color:unset; padding:0" href=@RowHref(item)>@item</NavLink>;

    private RenderFragment EmptyListButton =>@<div>
        @message
        <button class="oval-button blue-fill" onclick=@LoadItems>Загрузить</button>
    </div>;

    private RenderFragment Search =>@<SearchText @bind-Input=@namesFilter />;
}
