
@{
    
    var header = "Какой-то заголовок";
    var menuItems = new List<string>
    {
        "Первый элемент",
        "Второй элемент",
        "Третий элемент"
    };
}
@functions {

    void PrintList(List<string> list)
    {
        <ul>
            @foreach (var element in list)
            {
                <li>@element</li>
            }
        </ul>
    }
    /*public void OnPost()
        {
        Console.WriteLine("OnPost");
        var request = Request;
        Model.Message = $"String: {request.Form["string"]}";
        // Message = $"String: {request.Form["sting"]} Int: {request.Form["int"]}";
    }*/
}
<!DOCTYPE html>
<html>
<head>
    <title>Ебейший сайт</title>
    <style>
        #sidebar {
            float: left;
            width: 10%;
            height: auto;
            background-color: antiquewhite;
        }

        .main {
            margin-left: 200px;
            width: 90%;
            background-color: aquamarine;
        }

        .nexttext {
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            @header
        </h1>
    </header>
    <aside id="sidebar">
        @{
            PrintList(menuItems);
        }
    </aside>
<div class="main">
        @RenderBody()
    </div>
</body>
</html>
