@page "/agreements/create"
@using Client.Services.Api
@using Microsoft.AspNetCore.Authorization
@using Model.Agreements
@inject IAgreementService AgreementsService
@attribute [Authorize(Roles = "Ctt")] 

<PageTitle>Добавление соглашения</PageTitle>
<Form Item="@_agreement" OnSubmit="@OnSubmit"></Form>

@code {
    private readonly Agreement _agreement = new();

    private Task OnSubmit()
    {
        return AgreementsService.Create(_agreement);
    }

}