@page "/agreements/{id:int}/Edit"
@using Client.Services.Api
@using Microsoft.AspNetCore.Authorization
@using Model.Agreements
@attribute [Authorize(Roles = "Ctt")]

@if (_agreement is not null)
{
    <Form OnSubmit=@UpdateInteraction Item=@_agreement></Form>
}
else
{
    @_message
}

@code {
    private static readonly string LoadingMessage = "Загрузка...";
    [Parameter] public int Id { get; set; }
    [Inject] private IAgreementService AgreementService { get; set; } = null!;
    private Agreement? _agreement;
    private string _message = LoadingMessage;

    protected override Task OnParametersSetAsync()
    {
        return LoadAgreement();
    }

    private async Task LoadAgreement()
    {
        try
        {
            _agreement = await AgreementService.ReadOne(Id);
        }
        catch (Exception ex)
        {
            _message = ex.Message;
        }
    }

    private async Task UpdateInteraction()
    {
        if (_agreement is null) return;
        try
        {
            await AgreementService.Update(Id, _agreement);
        }
        catch
        {
            //TODO Обработка исключения
        }
    }

}