@using Microsoft.AspNetCore.Components.Web;
@using System.Net.Http.Json;
@using DataBase.Models;

@inject HttpClient httpClient

<h3>Component</h3>
<h4>@message</h4>

<ul>
    @foreach (var partner in partners)
    {
        <li>
            <PartnerRow partner=@partner />
        </li>
    }
</ul>

@*<button @onclick = "LoadPartners">Присоединить</button>*@

@code {
    IEnumerable<Partner> partners { get; set; } = new List<Partner>();
    string message = "";
    async Task LoadPartners()
    {
        var response = await httpClient.GetAsync("api/test/partners");

        if (!response.IsSuccessStatusCode)
        {
            message = "Не получен неправильный ответ";
            return;
        }

        var newPartners = await response.Content.ReadFromJsonAsync<IEnumerable<Partner>>();

        if (newPartners == null)
        {
            var newMessage = await response.Content.ReadAsStringAsync();
            message = $"Ошибка преобразования ответ: {newMessage}";
            return;
        }

        partners = newPartners;
        message = $"Успешно загружено {newPartners.Count()}";
        //partners = response.Content.
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadPartners();
    }
}
