@using Microsoft.AspNetCore.Components.Web;
@using System.Net.Http.Json;
@using DataBase.Models;
@page "/"
@page "/partners"
@inject HttpClient httpClient

<PageTitle>Патнеры университета</PageTitle>

<h3>Component</h3>
<h4>@message</h4>

@if (SelectedPartner == null)
{
    <ul class="parentList">
        @foreach (var partner in partners)
        {
            <li>
                <button @onclick = "@(e => SelectedPartner = partner)">
                    <PartnerRow Partner=@partner />
                </button>
            </li>
        }
    </ul>
}
else
{
    <PartnerDetail Partner=@SelectedPartner/>
}

@*<button @onclick = "LoadPartners">Присоединить</button>*@

@code {
    IEnumerable<Partner> partners { get; set; } = new List<Partner>();

    public Partner? SelectedPartner { get; set; } = null;

    string message = "Надпись по-умолчанию";
    async Task LoadPartners()
    {
        var response = await httpClient.GetAsync("api/partners");

        if (!response.IsSuccessStatusCode)
        {
            message = "Получен неправильный ответ";
            return;
        }

        var newPartners = await response.Content.ReadFromJsonAsync<List<Partner>>();

        if (newPartners == null)
        {
            var newMessage = await response.Content.ReadAsStringAsync();
            message = $"Ошибка преобразования ответ: {newMessage}";
            return;
        }

        partners = newPartners;
        message = $"Успешно загружено {newPartners.Count()}";
        //partners = response.Content.
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadPartners();
    }
}
