@using DataBase.Models;

@inject HttpClient HttpClient
<div>
@Partner.ShortName <button @onclick="Delete">Удалить</button>
</div>

@code {
    [Parameter]
    public Partner Partner { get; set; } = null!;


    public async Task Delete()
    {
        await HttpClient.DeleteAsync($"partners/{Partner.Id}");
    }
}
