@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Client.Components.Authorization

@rendermode RenderMode.InteractiveWebAssembly

<header class="myHeader">
    <NavLink href="partners">Партнеры</NavLink>
    <NavLink href="divisions">Подразделения</NavLink>
    <NavLink href="agreements">Соглашения</NavLink>
    <NavLink href="interactions">Взаимодействия</NavLink>
    <AuthorizeView Roles="Admin">
        <NavLink href="registration">Регистрация</NavLink>
    </AuthorizeView>
    <Profile/>
    <NavLink href="swagger/index.html">Обзор API</NavLink>
</header>
<div>
    <div class="center">
        <RefitErrorBoundary>
            <ChildContent>@Body</ChildContent>
            <ErrorContent Context="exception">Исключение: @exception.Message</ErrorContent>
        </RefitErrorBoundary>
        <RadzenComponents @rendermode="@(new InteractiveWebAssemblyRenderMode())"/>
    </div>
</div>
<footer style="background-color:#E7E7E7">
    @* Footer страницы *@
</footer>