@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Routing

@rendermode RenderMode.InteractiveWebAssembly

<header class="myHeader">
    <NavLink href="partners">Партнеры</NavLink>
    <NavLink href="divisions">Подразделения</NavLink>
    <NavLink href="agreements">Соглашения</NavLink>
    <NavLink href="interactions">Взаимодействия</NavLink>
    <NavLink href="swagger/index.html">Обзор API</NavLink>
</header>
<div>
    <div class="center">
        <ErrorBoundary>
            <ChildContent>@Body</ChildContent>
            <ErrorContent Context="exception">@exception.Message</ErrorContent>
        </ErrorBoundary>
        <RadzenComponents @rendermode=@(new InteractiveWebAssemblyRenderMode())></RadzenComponents>
    </div>
</div>
<footer style="background-color:#E7E7E7">
    @* Footer страницы *@
</footer>