@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Client.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@inject IWebAssemblyHostEnvironment Environment

@rendermode RenderMode.InteractiveWebAssembly

<RadzenHeader >
    @* <AuthorizeView style="width:100%;"> *@
        <RadzenMenu>
            <RadzenStack 
                Style="width:100%"
                Orientation=@Orientation.Horizontal 
                AlignItems=@AlignItems.Center 
                JustifyContent="JustifyContent.SpaceEvenly"
                >
                <RadzenMenuItem Path="partners" Text="Партнеры"/>
                <RadzenMenuItem Path="divisions" Text="Подразделения"/>
                <RadzenMenuItem Path="agreements" Text="Соглашения"/>
                <RadzenMenuItem Path="interactions" Text="Взаимодействия"/>
                <Profile/>
                @if (Environment.IsDevelopment())
                {
                    <RadzenMenuItem Path="swagger/index.html" Text="Обзор API"/>
                }
            </RadzenStack>
        </RadzenMenu>
    @* </AuthorizeView> *@
</RadzenHeader>
<RadzenBody>
    <div style="width:fit-content;">
        <RefitErrorBoundary>
            <ChildContent>@Body</ChildContent>
            <ErrorContent Context="exception">Исключение: @exception.Message</ErrorContent>
        </RefitErrorBoundary>
        <RadzenComponents @rendermode="@(new InteractiveWebAssemblyRenderMode())"/>
    </div>
</RadzenBody>
<RadzenFooter>
    @* Footer страницы *@
</RadzenFooter>