@using Microsoft.AspNetCore.Components.Authorization
@typeparam TItem

<RadzenCard>
    <RadzenStack Orientation=@Orientation.Vertical>
        @if (item != null)
        {
            <PageTitle>@Title</PageTitle>
            <div style="justify-content: space-between">
                <button class="oval-button blue-fill" style="display: inline-block" onclick="history.back()">Назад</button>
                <AuthorizeView Roles="Ctt">
                    <NavLink class="oval-button blue-outline" style="display: inline-block" href=@EditPath>
                        Редактировать
                    </NavLink>
                </AuthorizeView>
            </div>
            <div>
                @Content
            </div>
        }
        else
        {
            <RadzenProgressBarCircular Value=100 ShowValue=false Mode=@ProgressBarMode.Indeterminate/>
        }
    </RadzenStack>
</RadzenCard>

@code {

}