@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing
<div>
    <div>
        <NavLink href ="partners">Партнеры</NavLink>
        <NavLink href="divisions">Подразделения</NavLink>
        <NavLink hre>Соглашения</NavLink>
        <NavLink>Взаимодействия</NavLink>
    </div>
</div>