<div>
    <p>
        <span class="title">@Title</span><br/>
        @Text
    </p>
</div>


@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Text { get; set; } = string.Empty;
}
