<div>
    @if (ShowContent)
    {
        <p>
            <span class="title">@Title</span><br/>
            @Text
        </p>
    }
</div>


@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Text { get; set; }

    private bool ShowContent => !(TitleNotSuitableForDisplay || TextNotSuitableForDisplay);
    private bool TitleNotSuitableForDisplay => string.IsNullOrWhiteSpace(Title);
    private bool TextNotSuitableForDisplay => string.IsNullOrWhiteSpace(Text);
}